.sidebar .category h2.cat::first-letter{
    background: #626262;
    color: white;
    padding: 0 2px;
    font-size: 10px;
    border-radius: 2px;
    vertical-align: middle;
}
.vertical-section h1{
    font-size: 32px;
    color: #142149
}
.tag-source span a {
    color: #A6A6A6;
}
/* .sidebar a, .side-nav a{
    color: #3273dc;
} */
.top-nav .menu .navigation .link:hover:not(.no-hover) {
    border-bottom: 2px solid transparent;
}